/* Define Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #26b9d0;
}

.button2 {

  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  float: none;
  z-index: auto;
  width: auto;
  height: auto;
  position: static;
  cursor: pointer;
  opacity: 1;
  margin: 0;
  padding: 0.75em 1em;
  overflow: visible;
  border: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  font: normal 1.25em/normal "Abel", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgb(98, 172, 21);
  -webkit-box-shadow: none;
  box-shadow: none;
  text-shadow: 0 -1px 0 rgb(91,129,17) ;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transform: none;
  transform: none;
  -webkit-transform-origin: 50% 50% 0;
  transform-origin: 50% 50% 0;

}

.button2 : hover {

  display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: pointer;
opacity: 1;
margin: 0;
padding: 0.75em 1em;
overflow: visible;
border: none;
-webkit-border-radius: 2px;
border-radius: 2px;
font: normal 1.25em/normal "Abel", Helvetica, sans-serif;
color: rgba(255,255,255,1);
-o-text-overflow: clip;
text-overflow: clip;
background: rgb(111, 186, 34);
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 0 -1px 0 rgb(91,129,17) ;
-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;

}

.button2 : active {

  display: inline-block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: pointer;
opacity: 1;
margin: 0;
padding: 0.75em 1em;
overflow: visible;
border: none;
-webkit-border-radius: 2px;
border-radius: 2px;
font: normal 1.25em/normal "Abel", Helvetica, sans-serif;
color: rgba(255,255,255,1);
-o-text-overflow: clip;
text-overflow: clip;
background: rgb(98, 172, 21);
-webkit-box-shadow: 0 1px 4px 0 rgb(65,105,23) inset;
box-shadow: 0 1px 4px 0 rgb(65,105,23) inset;
text-shadow: 0 -1px 0 rgb(91,129,17) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;

}

.rating_above {
  /* font-size: 25px; */
  height: 25px;
  margin-left: 5%;
  /* position: relative; */
  /* font: "Ar"; */
  font-size: 22px;
  /* width: auto; */

  text-align: left;
}


.rating_dropdown {
  font-size: 20px;
  margin-left: 30px;
}



.textbox {
  font-size: 22px;
  width: 80%;
  height: 25px;
  margin-bottom: 20px;
  position: relative;
  left: 30px;
  padding-left: 15px;
  transition: 0.5s;
}


.textbox_num {
  font-size: 22px;
  width: 39%;
  height: 25px;
  margin-bottom: 20px;
  position: relative;
  left: 30px;
  padding-left: 15px;
  transition: 0.5s;
}


/* Add padding to container elements */
.container {

    padding: 30px;
}

.checkbox {
  margin-bottom: 20px;
  margin-left: 30px;
}


.btnSubmit {
  font-size: 20px;
  background-color: #1074d7;
  color: white;
  border: none;
  padding: 10px 32px;
  margin-left: 40%;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 10px;
}

.btnSubmit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  /* margin-left: 50%; */
  transition: 0.5s;

}

.btnSubmit span:after {
  content: ' \2000 \00bb \2000 \00bb \2000 \00bb \2000 \00bb \2000 \00bb \2000 \00bb \2000 \00bb \2000 \00bb \2000 \00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -250px;
  transition: 0.5s;
  margin-left: 10%;
  }

.btnSubmit:hover span {
  padding-right: 220px;
}


.btnSubmit:hover span:after {
  opacity: 1;
  right: 0;

}

.file {
  margin-left: 30px;
  font-size: 20px;

}

/* The Modal (background) */
.modal {
    /* z-index: 1; /* Sit on top */ */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
    transition: 0.5s;
}

/* Modal Content/Box */
.modal-content {
    right:0;
    background-color: #cccccc;
    margin: 20% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    transition:  0.5s;
    right:0;
    border-radius: 80px;
}


html {
  background: url(../images/background.jpeg) no-repeat center center fixed;
  background-size: cover;


}
